.sorting__widget select,
.search__widget {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #fde4e4;
  outline: none;
}
.search__widget input {
  border: none;
  background: transparent;
  height: 100%;
  width: 80%;
}
.search__widget input:focus {
  outline: none;
}

/* pagination's */

.paginationButtons {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  list-style: none;
  margin-top: 30px;
}

.paginationButtons a {
  padding: 5px 20px;
  background: #212245;
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

.paginationButtons a:hover {
    background: #df2020;
}
